/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}



@font-face {
    font-family: satoshi;
    src: url(font/Satoshi-Variable.ttf);
}

body {
    background-color: #010213;
    cursor: url('img/arrow-cursor-outline.svg'), auto;
}

a {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    background-color: hsla(0, 0%, 100%, 0.075);
    display: flex;
    position: relative;
    justify-content:flex-start;
    padding: 5px 30px;
    align-items: center;
    font: 500 1.3rem "Satoshi", sans-serif;
    text-transform: capitalize;
    border-bottom: solid 2px hsla(238, 85%, 92%, 0.151);
    height: 80px;
}

.header h1 {
    font: 1000 1.3rem "Satoshi", sans-serif;
    color: #d9dafc;
}

.header a {
    margin-left: 30px;
    font: 700 1.1rem "Satoshi", sans-serif;
    color: #d9dafc;
}


.header a:nth-child(2) {
  margin-left: 0px;
  padding: 4px 0;
  padding-right: 20px;
  border-right: solid 2px hsla(238, 85%, 92%, 0.151);
  text-shadow: 0 0 20px #d9dafc48;
}


.header a:hover {
    color: #d9dafca4;
}

.header img {
  filter: drop-shadow(0 0 10px #d9dafc48);

}
.nav {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  box-sizing:content-box;
}

.logo-txt {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.logo-txt img {
  filter: drop-shadow(0 0 20px #d9dafc48);
  animation: logo 4s ease-in-out infinite alternate both;
}

@keyframes logo {
  0%{
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
  
}

.logo-txt h1 {
  color: #d9dafc;
  font: 900 4rem "Satoshi", sans-serif;
  text-shadow: 0 0 80px #d9dafc;
}

.logo-txt h2 {
  background: linear-gradient(50deg,rgba(137, 135, 247, 1) 0%, rgba(116, 10, 148, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 900 4rem "Satoshi", sans-serif;
   text-shadow: 0 0 80px rgba(116, 10, 148, 1);
}


.title-1 {
    color: #d9dafc;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 6vh;
    width: 100%;
    font: 900 4rem "Satoshi", sans-serif;
    cursor: url('img/arrow-cursor-outline.svg'), auto;
}

.title-1 h1 {

    background: linear-gradient(50deg,rgba(137, 135, 247, 1) 0%, rgba(116, 10, 148, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -1.5vh;
}

.title-1 h2 {
    animation: glowing 2s ease-in-out;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes glowing {
    0% {

    }
    100% {
        text-shadow: 0 0 20px #d9dafc;
    }
}

.svg {
    width: 300px;
    position: absolute;
    display: block;
    bottom: -20px;
    left: 62%;
    height: 25px;
    
}





/*----------------------------
   ____    _    ____  ____  
  / ___|  / \  |  _ \|  _ \ 
 | |     / _ \ | |_) | | | |
 | |___ / ___ \|  _ <| |_| |
  \____/_/   \_\_| \_\____/ 
                            
-----------------------------*/

.select {
  position: absolute;
  display: flex;
  justify-content:space-between;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%);
  width: 390px;
  height: 390px;
}

.select button {
  align-self: center;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background: #d9dafc;
  color: #010213;
  cursor: url('img/hand-pointer.svg'), auto;
  z-index: 100;

}





.select .card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 390px;
  border: solid 3px #d9dafc;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 15px #d9dafce3;
  margin: 0 15px;
  transform: translateX(12.5%);
  visibility: hidden;
}

.card:first-child {
  visibility: visible;
  animation: cardanim 0.5s;
}

.card:first-child:hover {
  cursor: url('img/hand-pointer.svg'), auto;
}

@keyframes cardanim {
  0%{
    filter: blur(5px);
  }

  100% {
    filter: blur(0px);
  }
}


.shadow-img {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px #010213c5;
  border-radius: 30px;
  top: 0;
  left: 0;
}


.card-stack {
  position: absolute;
  display: flex;
}

.card h1 {
  position: absolute;
  transform: translateY(110px);
  font: 900 2rem "Satoshi", sans-serif;
  color: #d9dafc;
  text-shadow: 0 0 20px #d9dafc;
  text-shadow: 0 0 10px #010213;
  text-transform: uppercase;
}

.select .card .main-champs {
  position: absolute;
  display: flex;
  transform: translateY(163px);
  width: 101%;
  justify-content: space-evenly;
  border: solid 2px #d9dafc;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px 10px 30px 30px;
  background: linear-gradient(150deg,rgba(137, 135, 247, 1) 0%, rgba(116, 10, 148, 1) 100%);
  background: transparent;
  box-shadow: inset 0 0 100px #010213c5;
}

.main-champs img {
  border-radius: 20%;
  border: solid 2px #d9dafc;
  box-shadow: 0 0 10px #d9dafc91;
}





footer {
  color: #d9dafc;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 30px 10px;
  border-top: solid 1px hsla(238, 85%, 92%, 0.151);
  font: 200 10px "Satoshi", sans-serif;
}



/*------------------------------------
  ____  ____   ___  _____ ___ _     
 |  _ \|  _ \ / _ \|  ___|_ _| |    
 | |_) | |_) | | | | |_   | || |    
 |  __/|  _ <| |_| |  _|  | || |___ 
 |_|   |_| \_\\___/|_|   |___|_____|
                                    
-------------------------------------*/


.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  

}

.profile-header {
  width: 750px;
  display: grid;
  grid-template-columns: 100px 1fr 120px;
  padding-right: 30px;
  grid-column-gap: 30px;
  align-items: center;
  background-color: #d9dafc44;
  box-shadow: inset 0 0 40px #010213;
  border-radius: 20px 20px 0 0;

}

.profile-img {
  height: 100px;
  width: 100px;
  
}

.profile-img img {
  border-radius: 20px 0 20px 0;
  filter: drop-shadow(0 0 10px #d9dafc);
  overflow: hidden;
  height: 100%;
  width: 100%;

}


.profile-infos span {
  display: block;
  color: #d9dafcb6;
  font : 500 1.2rem "Satoshi", sans-serif;
}

.profile-infos span:nth-child(2) {
  text-transform: uppercase;
}

.profile-infos .lvl {
  font: 700 0.9rem "Satoshi", sans-serif;
  background: linear-gradient(110deg,rgba(137, 135, 247, 1) 20%, rgba(116, 10, 148, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txtranked {
  width: 680px;
  margin-top: 20px;
}

.txtranked h1 {
  color:#d9dafcb6;
  text-transform: uppercase;
  font: 700 0.9rem "Satoshi", sans-serif;
}


.profile-matchs,
.test {
  position: relative;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

/*  MATCH RECAP  */

.match-recap {
  box-sizing: border-box;
  display: flex;
  width: 700px;
  align-items: center;
  background-color: #d9dafc44;
  box-shadow: inset 0 0 40px #010213;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  justify-content: left;
}

.match-recap:nth-child(1) {
  margin-top: 5px;
}

.match-victory {
  border: solid 1px rgba(137, 135, 247, 1);
}
.match-defeat {
  border: solid 1px #010213;
}


.match-infos {
  font: 400 0.8rem "Satoshi";
  color: #d9dafcb6;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 20px;
  border-right: solid 1px #d9dafc36;
  width: 150px;
}

.match-infos p:nth-child(4) {
  font: 700 0.8rem "Satoshi";
}


.champion-infos {
  margin-right: 10px;
  padding-right: 15px;
  border-right: solid 1px #d9dafc36;
  width: 250px;
}

.champion-data {
  display: flex;
  height: 55px;
  
  
}

.champion-data .icon {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}

.champion-icon-level {
  display: flex;
  filter: drop-shadow(0 0 5px #010213);
}

.level {
  color:#d9dafcb6;
  height: 18px;
  width: 18px;
  font: 600 0.8rem "Satoshi";
  position: absolute;
  padding-left: 2px;
  background-color: #010213;
  border-radius: 50%;
  text-shadow: 0 0 5px #d9dafc;
}

.champion-spells-runes {
  display: flex;
  margin-left: 10px;
}

.champion-runes,
.champion-spells {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  
}

.champion-runes {
  margin-left: 5px;
  padding-bottom: 4px;
}

.champion-spells img {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  filter: drop-shadow(0 0 5px #010213);
}

.champion-runes img {

  border-radius: 5px;
  margin-bottom: 4px;
  filter: drop-shadow(0 0 5px #010213);
}
.champion-kda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #d9dafcb6;
  font: 600 0.8rem "Satoshi";
  
}

.champion-items {
  display: flex;
  margin-top: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.champion-items img {
  border-radius: 5px;
  box-shadow: 0 0 10px #010213;
  
}

.item-bg {
  display: inline-flex;
  border-radius: 5px;
  background-color: #01021386;
  box-shadow: inset 0 0 15px #d9dafc21;
  height: 25px;
  width: 25px;
}

.champion-kpcs {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#d9dafcb6;
  font: 400 0.8rem "Satoshi";
  margin-right: 20px;
}

.game-players {
  display: flex;
  height: 80px;
  width: 170px;
}

.game-players-bside,
.game-players-rside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 10px;
  color:#d9dafcb6;
  font: 500 0.5rem "Satoshi";
  line-height: 7px;
  overflow: hidden;

}

.champion-playername {
  width: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 2px 0 2px 0;
  
}

.champion-playername a {
  text-decoration: none;
  color:#d9dafcb6;
}

.champion-playername span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.champion-playername img {
  height: 14px;
  width: 14px;
  border-radius: 5px;
  margin-right: 5px;
}

.pnamebold {
  font: 800 0.7rem "Satoshi";
  color: #d9dafcd0;
}









/* ------------------------------
 ____  _   _  ___  _   _ _____ 
|  _ \| | | |/ _ \| \ | | ____|
| |_) | |_| | | | |  \| |  _|  
|  __/|  _  | |_| | |\  | |___ 
|_|   |_| |_|\___/|_| \_|_____|
--------------------------------  */

@media screen and (width <= 320px) {
  



  .title-1 {
    margin-top: 10vh;
    padding: 0 30px;
    font: 900 2.5rem "Satoshi", sans-serif;
  }



}
